@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:400,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

#product-overview {
  background: url(./assets/freedom.jpg);
  padding: 10px;
  width: 100%;
  height: 528px;
}

.section-title {
  color: #2ddf5c;
  font-family: inherit;
}

#product-overview h1 {
  color: white;
  font-family: 'Arvo', sans-serif;
}

.main-header {
  /* HEADER 1*/
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
}

.main-header>div {
  /* 3 */
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  /*4 */
  display: inline-block;
  /* 5*/
  text-align: right;
  width: calc(100% - 48px);
  vertical-align: middle;
}

.main-nav__items {
  /* 6 */
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  /* 2ND */
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a{
	color: white;
	background: #ff1b68;
	padding: 8px 16px;
	border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:hover{
	background: white;
	color: #ff1b68;
	border: none;
}